<div class="full-screen">

    <app-sidebar 
        [apps]="apps"
        (eventAddServer)="childEventAddServer($event)"
        (eventRemoveServer)="childEventRemoveServer($event)"
        (eventAddApp)="childEventAddApp($event)"
        (eventRemoveApp)="childEventRemoveApp($event)">
    </app-sidebar>

    <app-canvas [state]="serverState" (parentKillServer)="killServer($event)"></app-canvas>

</div>