@import "../../styles.scss";

.sidebar-container {
    position: absolute;
    height: 100%;
    width: 160px;
    background-color: $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    // add/remove server buttons
    .server-buttons {
        display: flex;
        margin-top: 50px;
        z-index: 100;
        .cta {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            box-sizing: border-box;
            background-position: center;
            background-size: 20px;
            background-repeat: no-repeat;
        }
        span {
            font-size: 11px;
            font-weight: lighter;
            margin-top: 10px;
        }
    }
    .add-server, .remove-server {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .add-server {
        margin-right: 15px;
        .cta {
            border: 1px solid white;
            background-image: url('../../assets/white-cross.png')
        }
        span {
            color: white;
        }
    }
    .remove-server {
        .cta {
            border: 1px solid $grey3;
            background-image: url('../../assets/grey-minus.png')
        }
        span {
            color: $grey3;
        }
    }
    // app controls
    .apps-outer-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .app-inner-container {
            margin-top: -35px;
        }
        .app-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            padding-left: 30px;
            border-left: 5px solid green;
            background-color: $grey2;
            margin-bottom: 1px;
            span {
                color: white;
                font-weight: lighter;
                font-size: 13px;
            }
        }
        .cta-container {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin-right: -12.5px;
        }
        .cta {
            width: 25px;
            height: 25px;
            border-radius: 50px;
            border: 2px solid $grey;
            box-sizing: border-box;
            background-position: center;
            background-size: 40%;
            background-repeat: no-repeat;
        }
        .cta.minus {
            background-image: url('../../assets/grey-minus.png')
        }
        .cta.plus {
            background-image: url('../../assets/white-cross.png')
        }
        .cta:first-child {
            margin-right: 7px;
        }
        h3 {
            display: inline-block;
            line-height: 35px;
            color: $grey3;
            margin: 0;
            font-size: 11px;
            padding-left: 35px;
        }
    }    

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        width: 270px;
    }

}