<div class="sidebar-container">
  
  <div class="server-buttons">
    <div class="add-server">
      <div class="cta" (click)="addServer()"></div>
      <span>Add Server</span>
    </div>
    <div class="remove-server">
      <div class="cta" (click)="removeServer()"></div>
      <span>Destroy</span>
    </div>
  </div>

  <div class="apps-outer-container">
    <div class="app-inner-container">
      <h3>Available Apps</h3>
      <div class="app-row" *ngFor="let app of apps" [ngStyle]="{'border-color': app.Color}">
        <span>{{app.Name}}</span>
        <div class="cta-container">
          <div class="cta minus" (click)="removeApp(app)"></div>
          <div class="cta plus" (click)="addApp(app)" [ngStyle]="{'background-color': app.Color, 'border': 'none'}"></div>
        </div>
      </div>
    </div>
  </div>

</div>  
