.canvas-container {
    margin-left: 160px;
    padding: 30px;
    padding-bottom: 20px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
    h1, h2, h3 {
        color: white;
        font-weight: lighter;
        margin: 0;
    }
    h1 {
        margin-bottom: 30px;
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        margin-left: 270px;
    }
}