<div class="canvas-container">
  <h1>Server Canvas</h1>
  <div class="canvas-grid">
    <ng-template ngFor let-i="index" let-server [ngForOf]="state">
      <app-canvas-cell [server]="server" (grandChildKillServer)="childKillServer(server)"></app-canvas-cell>
    </ng-template>
  </div>
</div>