<div class="canvas-cell">
  <div class="cell-app" *ngFor="let app of server.Apps" [ngStyle]="{'background-color': app.Color}">
    <h2>{{app.Abbreviation}}</h2>
    <h3>{{app.Name}}</h3>
    <span>Added {{app.Time | timeAgo}}</span>
  </div>
  <div class="destroy-overlay" (click)="killServer()">
    <span>Destroy Server</span>
  </div>
</div>