@import "../../styles.scss";

.canvas-cell {
    background-color: $grey2;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    h2, h3 {
        color: white;
        margin: 0;
        font-weight: lighter;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 17px;
    }
    .cell-app {
        // height: 99.5px;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        box-sizing: border-box;
        span {
            font-size: 12px;
            color: black;
            text-align: center;
        }
    }
    .cell-app:first-of-type {
        margin-bottom: 1px;
    }
    .destroy-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(85,85,85,0.95);
        display: none;
        span {
            color: white;
            line-height: 200px;
            font-weight: lighter;
        }
    }
}
.canvas-cell:hover .destroy-overlay {
    display: block;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
    .canvas-cell {
        width: 48%;
        margin-right: 4%;
        float: left;
    }
    :host:nth-child(2n) .canvas-cell {
        margin-right: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {
    .canvas-cell {
        width: 30%;
        margin-right: 5%;
        float: left;
    }
    :host:nth-child(3n) .canvas-cell {
        margin-right: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .canvas-cell {
        width: 23.5%;
        margin-right: 2%;
        float: left;
    }
    :host:nth-child(4n) .canvas-cell {
        margin-right: 0;
    }
}